<aside class="layout__right" aria-label="Contents">
    <h2 class="column-title toc-toggle" id="toc-toggle"
        role="button" tabindex="0" aria-expanded="false" aria-controls="toc-list">
        {{ strings["contents"] }}
    </h2>
    <nav class="toc">
        <ol class="toc__list" id="toc-list">
            {% for entry in toc %}
            <li class="toc__item toc__item--{{ entry.level }}">
                <a class="toc__link" href="{% if entry.page != 1 %}?page={{ entry.page }}{% endif %}#{{ entry.anchor }}">
                    {{ entry.label }}
                </a>
            </li>
            {% endfor %}
        </ol>
    </nav>
</aside>