<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-6232620868216896">
    <title>{{ page_title }} — {{ site_title }}</title>
    {% if static_base == "" %}
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/theme-{{ theme }}.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
    {% if content == "article" %}
    <link rel="stylesheet" href="/static/css/article.css">
    {% endif %}
    {% if is_admin || content == "admin" %}
    <link rel="stylesheet" href="/static/css/admin.css">
    {% endif %}
    {% else %}
    <link rel="icon" type="image/svg+xml" href="{{ static_base }}/favicon.svg">
    <link rel="stylesheet" href="{{ static_base }}/css/base.css">
    <link rel="stylesheet" href="{{ static_base }}/css/theme-{{ theme }}.css">
    <link rel="stylesheet" href="{{ static_base }}/css/mobile.css">
    {% if content == "article" %}
    <link rel="stylesheet" href="{{ static_base }}/css/article.css">
    {% endif %}
    {% if is_admin || content == "admin" %}
    <link rel="stylesheet" href="{{ static_base }}/css/admin.css">
    {% endif %}
    {% endif %}
</head>