{% if static_base == "" %}
    <script src="/static/js/mobile.js"></script>
    {% if is_admin %}
    <script src="/static/js/admin-upload.js"></script>
    {% endif %}
    {% if content == "admin" %}
    <script src="/static/js/admin-delete.js"></script>
    {% endif %}
{% else %}
    <script src="{{ static_base }}/js/mobile.js"></script>
    {% if is_admin %}
    <script src="{{ static_base }}/js/admin-upload.js"></script>
    {% endif %}
    {% if content == "admin" %}
    <script src="{{ static_base }}/js/admin-delete.js"></script>
    {% endif %}
{% endif %}